body {      
    font-family: Arial;
    margin: 25px;
    padding: 0;
}
#bax{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#main{
    padding: 5px;
    text-align: center;
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
    height: 50vh;
    width: 80vw;

}
#apple {
    margin: 5vh;
    height: 15vh;
    border-radius: 50%50%;
    filter: drop-shadow(5px 5px 10px gray);    
}

button {
    height: 5vh;
    width: 15vh;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 4px gray;
}

button:hover {
    background-color: #c4c4c4;
}

button:active {
    background-color: gray;
 }.
 
