body {
    text-align: center;
    font-family: Arial;
}

#apple {
    width: 100px;
    border-radius: 100%;
}

button {
    height: 25px;
    width: 100px;
    border-radius: 5px;
    border: none;
}

button:hover {
    background-color: #c4c4c4;
}

button:active {
    background-color: grey;
}
