
body {
    display: flex;
    align-items: center;
    text-align: center;        
    font-family: Arial;
           
}
#main{
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}
#apple {
    width: 150px;
    border-radius: 50%50%;
    filter: drop-shadow(5px 5px 10px gray)    
}

button {
    height: 25px;
    width: 100px;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 4px gray;
}

button:hover {
    background-color: #c4c4c4;
}

button:active {
    background-color: grey;
 }
 
        
